* {
    font-family: Arial, Helvetica, sans-serif;
    color:#1F2937;
    background-color: F9FAF8;
}

.heading {
    font-size: 36px;
}

.projects {
    font-size: 24px;
}

.project-list {
    display: flex;
    /*border: 2px solid red;*/
    flex-flow: row wrap;
}

img {
    border: 5px solid #3882F6;
    border-radius: 10px;
    padding: 2px;
    margin: 3px;
}
