html {
    background-color: #B5DEAD;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 688px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 50px 50px;
    background-color: #2A6543;
    color: #ffffff;
}

.container, .project-list {
    display:flex;
    flex-direction: column;
}

figure {
    margin: 20px 0px;
    gap: 50px;
}

h1 {
    text-align: center;
    font-family: "Lora", Lora;
    font-size: 48px;
}

img {
    width: 500px;
    height: auto;
}

img, iframe {
    border: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
}

a {
    //color: inherit;
    color: #71DF80;
}

#backtotop {
    align-self: flex-end;
    padding: 50px 20px 0px 0px;
}